.modal-open {
    padding-right: 0px !important;
    // overflow: visible !important;
}

.modal-dialog {

    @media (min-width: 576px) {
        max-width: 100%;
    }

    display: flex;
    width: 100%;
    min-height: 100%;
    padding: 15px;
    margin: 0;
}


.modal-content {
    margin: auto;
    border: none;
    box-shadow: none;
}

.modal-header {
    display: block;
    position: relative;
    border: none;
}

.modal-header .close {
    border: none;
    background: transparent;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    line-height: 1;
    color: #c0c2cc;
    opacity: 1;
    position: absolute;
    right: 14px;
    top: 12px;
    transition: color 0.25s ease-in-out;
    outline: none !important;

    &:hover {
        opacity: 1;
        color: $blue;
    }

}

.modal-footer {
    border: none;
}

.modal-backdrop.show {
    opacity: 0.3;
}

// modal-new-video

.modal-new-video .modal-content {
    max-width: 420px;
    background: $gray-400;
    border-radius: 5px;
}

.modal-new-video .modal-header {
    padding: 25px 30px 22px;
    display: block;
}

.modal-new-video .modal-title {
    color: $blue;
}

.modal-new-video .modal-body {
    display: block;
    padding: 0 30px;
}

.new-video__title {
    letter-spacing: 0.5px;
    margin-bottom: 11px;
}
.new-video__subtitle {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
}

.new-video__form .row {
    margin-left: -30px; 
    margin-right: -30px; 
}

.new-video__form .row >div {
    padding: 0 30px;
}

.new-video__form-group {
    position: relative;
    margin-bottom: 0;
    padding-top: 22px;
    border-bottom: 1px solid $gray-600;
}

.new-video__form-group label {
    font-size: 15px;
    line-height: 22px;
    color: $gray-650;
    margin: 0;
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 3;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}

.new-video__form-group .new-video__field {
    height: 30px;
    line-height: 28px;
    padding: 0 0 6px;
    font-size: 15px;
    border-radius: 0;
    border: none;
    background: transparent;
    font-weight: 600;

    &::placeholder {
        color: transparent;
    }

    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
        color: $gray-850;
        background: transparent;
    }
}

.new-video__form-group.active label {
    font-size: 13px;
    color: $blue;
    top: 3px;
}

.modal-new-video .modal-footer {
    padding: 49px 0 30px;
    margin: 0 -5px;
    justify-content: center;
}

.modal-new-video .modal-footer .btn {
    width: 175px;
    margin: 0 5px;
}

// modal remove

.modal-remove .modal-content {
    max-width: 310px;
    background: $gray-400;
    border-radius: 5px;
}

.modal-remove .modal-header {
    padding: 25px 30px 9px;
    border: none;
}

.modal-remove .modal-title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
}

.modal-remove .modal-footer {
    justify-content: center;
    border: none;
    padding: 15px 15px 29px;
    border: none;
}

.modal-remove .modal-footer .btn {
    width: 120px;
    margin: 0 5px;
}

// modal share

.modal-share {

    .modal-content {
        max-width: 730px;
        background: $gray-400;
        border-radius: 5px;
        // margin: 0 auto auto;
    }

    .modal-header {
        padding: 22px 40px 10px;

        .close {
            right: 8px;
            top: 9px;
        }
    }

    .modal-body {
        padding: 1px 40px 34px;
    }

    &__title {
        letter-spacing: 1px;

        span {
            color: $blue;
        }
    }

    &__label {
        font-size: 15px;
        line-height: 22px;
        color: $gray-650;
        margin-bottom: 9px;
    }

    &__panel {
        position: relative;
        padding: 0 40px;
        height: 100px;
        line-height: 100px;
        margin: 0 -40px;
        background: $search-bg;
    }

    &__action {
        position: absolute;
        top: 35px;
        right: 35px;
        font-size: 0;
        line-height: 1;
    }

    &__link {
        font-weight: 600;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.2px;
        color: $blue;
        text-decoration: underline;
        word-break: break-all;

        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }

    &__copy {
        width: auto;
        height: auto;
        background: transparent;
        font-size: 20px;
        color: #c0c2cc;
        border: none;
        padding: 0;
        font-size: 24px;
        line-height: 1;
        transition: color 0.25s ease-in-out;
        position: relative;

        &.active {
            color: $blue;
        }

        &:hover {
            color: $blue;
        }
    }

    &__tooltip {
        background: #fff;
        position: absolute;
        right: 11px;
        bottom: 38px;
        width: 126px;
        font-size: 15px;
        line-height: 22px;
        color: #1f2539;
        padding: 11px 19px;
        border-radius: 5px 5px 0 5px;
        box-shadow: 0px 2px 6px rgba(85, 104, 254, 0.15);
        display: none;

        &:before {
            content: '';
            border-top: 6px solid #fff;
            border-left: 6px solid transparent;
            position: absolute;
            right: 0;
            bottom: -5px;
        }
    }

    &__description {
        font-size: 15px;
        line-height: 25px;
        color: $gray-650;
        margin: 32px 0 0;
        padding-right: 100px;
    }
}

// modal-speech

.modal-speech {

    .modal-content {
        max-width: 644px;
    }

    .modal-header {
        background: $gray-400;
        padding: 24px 30px 19px;
    }

    .modal-title {
        letter-spacing: 0.4px;
        margin-bottom: 12px;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 25px;
        color: $gray-650;
        margin-bottom: 0;
    }

    .modal-body {
        height: 430px;
        padding: 20px 30px;
    }

    &__panel {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__field {
        display: block;
        height: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
        min-height: 300px;
        resize: none;
        border: none;
        outline: none;
        font-size: 15px;
        line-height: 25px;
        color: $black;

        &::-webkit-scrollbar {
            width: 5px;
        }
          
        &::-webkit-scrollbar-track {
            background: transparent;
        }
         
        &::-webkit-scrollbar-thumb {
            background: $gray-300;
            border-radius: 5px;
        }
    }

    .modal-footer {
        display: block;
        background: $gray-400;
        padding: 30px;
    }
}

// modal-new-video-final

.modal-new-video-final {

    // .modal-content {
    //     margin: 0 auto;
    // }

    .new-video__subtitle {
        margin-bottom: 25px;
    }

    .new-video__form-group {
        padding-top: 0;
        border: none;
        margin-bottom: 23px;
    }

    .modal-new-video-final__label {
        font-size: 13px;
        line-height: 19px;
        color: $gray-650;
        margin-bottom: 6px;
    }

    &__check {
        display: none;

        &:checked + .modal-new-video-final__text {

            &:before {
                border-color: $blue;
                background: $blue;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    .modal-new-video-final__text {
        display: block;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        color: $gray-850;
        margin: 0;
        padding-right: 30px;
        position: relative;
        left: 0;
        top: 0;
        pointer-events: auto;
        cursor: pointer;

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid $gray-550;
            border-radius: 4px;
            position: absolute;
            top: 0;
            right: 2px;
        }

        &:after {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 4px;
            position: absolute;
            top: 0;
            right: 2px;
            z-index: 2;
            background: url(../img/icons/icon-check-2.svg) no-repeat center center ;
            background-size: 10px;
            opacity: 0;
        }
    }

    .modal-footer {
        padding: 23px 30px 30px;
    }
}

.modal-record {

    .modal-dialog {
        padding: 0;
        display: block;
        overflow: hidden;
        height: 100%;
    }

    .modal-content {
        width: 100%;
        height: 100%;
        margin: 0;
        background: $gray-100;
        border-radius: 0;
    }

    .modal-header {
        padding: 25px 10px 16px;

        .close {
            font-size: 22px;
            right: 59px;
            top: 38px;
        }
    }

    &__title {

        span {
            color: $orange;
        }
    }

    .modal-body {
        overflow: hidden;
    }

    .modal-footer {
        display: block;
        padding: 10px 10px 6px;
    }
    
    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
    }

    &__switch {
        font-size: 14px;
        line-height: 21px;
        color: $gray-625;
        cursor: pointer;
        transition: 0.25s ease-in-out;

        &:hover {
            color: $blue;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: $gray-600;
        font-family: $poppins;
        text-transform: none;
        letter-spacing: 0.2px;
        transition: color 0.25s ease-in-out;

        .icon {
            font-size: 24px;
            display: inline-block;
            margin-right: 5px;
            transition: color 0.25s ease-in-out;
        }

        svg {
            fill: $gray-600;
            transition: 0.25s ease-in-out;
        }

        &:hover {
            color: $gray-850;

            .icon {
                color: $blue;
            }

            svg {
                fill: $blue;
            }
        }
    }

    &__content {
        position: relative;
    }

    &__plan {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        height: 220px;
        padding: 33px 30px 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__plan__container {
        
    }

    &__field {
        display: block;
        width: 100%;
        min-height: 150px;
        background: transparent;
        border: none;
        resize: none;
        outline: none;
        padding-right: 20px;

        &:focus {
            outline: none;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
          
        &::-webkit-scrollbar-track {
            background: transparent;
        }
         
        &::-webkit-scrollbar-thumb {
            background: $gray-300;
            border-radius: 5px;
        }
    }

    &__plan-control {
        display: none;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        background: $gray-100;
        padding: 0 15px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;

        &.active {
            display: flex;
            opacity: 1;
        }
    }

    &__plan-control__left {
        display: flex;
        align-items: center;

        .btn {
            margin-right: 10px;

            &:last-child {
                margin-right: 10px;
            }
        }
    }
}
