.references {

    &__nav-section {
        // padding-bottom: 25px;
        border-bottom: 1px solid $gray-300;
    }

    &__nav {
        padding-top: 16px;
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        min-height: 110px;
    }

    &__title {
        margin: 0;
    }

    &__nav__action {
        display: flex;
        justify-content: flex-end;

        .btn {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__nav__tabs {

    }

    &__nav__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
    }

    &__nav__item {
        margin: 0;
    }

    &__nav__link {
        display: block;
        position: relative;
        font-family: $oswald;
        font-weight: 600;
        color: $gray-600;
        font-size: 18px;
        line-height: 28px;
        padding: 11px 20px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        background: transparent;
        border: none;
        border-radius: 4px;
        transition: color 0.25s ease-in-out;

        &.active {
            color: $blue;
            background: rgba(85, 104, 254, 0.1);
        }

        &.point {
            &:before {
                top: 11px;
                right: 13px;
            }
        }
    }
}

.go-back {
    position: absolute;
    top: 43px;
    right: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $gray-600;
    display: flex;
    align-items: center;

    svg {
        margin-right: 18px;

        path {
            stroke: $gray-600;
            transition: 0.25s ease-in-out;
        }
    }

    &:hover {
        svg {
            path {
                stroke: $blue;
            }
        }
    }
}

