.references {

    &__content {
        padding-bottom: 50px;
        min-height: 600px;
    }

    &__subtitle {
        font-size: 16px;
        color: $gray-625;
        line-height: 25px;
        font-weight: 500;
        margin: 24px 0 22px;
        letter-spacing: 0.6px;
    }
}