//fonts
$oswald: 'Oswald', sans-serif;
$poppins: 'Poppins', sans-serif;

//colors 
//text
$white:    #fff;
$gray-100: #F5F7FB;  //used
$gray-200: #F0F1F5;  //used
$gray-300: #E1E4EB;  //used
$gray-400: #EDF0F5;  //used
$gray-500: #EBEEF5;  //used
$gray-550: #CCCED9;  //used
$gray-600: #C0C2CC;  //used
$gray-625: #A8AAB2;  //used
$gray-650: #6D7080;  //used
$gray-700: #393939;
$gray-800: #343a40;
$gray-850: #1F2539;  //used 
$gray-900: #010000;
$black:    #000;



$blue:   #5568FE;
$orange: #FF4921;

//components colors

$search-bg: #E2E6FB;